# Books.
books/*/book

# Dictionary
dictionary/node_modules

# Web.
web/dist
web/node_modules
## Only keep source PEG file.
web/src/grammar/eberban.js
web/src/grammar/eberban.pegjs
web/src/grammar/eberban.peggy.js
