/* Common styles all web/*.html files use */

a {
    color: #0088cc;
}

button {
    width: 100%;
    font-size: 1rem;
    border: 1px solid #bbb;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

button:active, button a:active, button:disabled {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
button:hover, button a:hover {
    background-color: #e6e6e6;
    background-image: none;
    transition: background-color 0.1s linear;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 8px;
}
