/* Styles that reset the default CSS look */

* {
    box-sizing: border-box;
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a:hover, button:hover {
    cursor: pointer;
}

button {
    display: block;
}

p {
    text-wrap: pretty;
}

ul {
    padding-left: 0;
}

ul li {
    list-style-type: none
}
