.gloss--glossed {
    background-color: var(--quote-bg);
    padding: 0.001px 20px;
    margin-bottom: 1em;
    border-top: .1em solid var(--quote-border);
    border-bottom: .1em solid var(--quote-border);
}

.content img {
    display: block;
    margin: auto;
}

.gloss__abbr {
    text-transform: none;
}

.cursive {
    font-family: freeserif, "times new roman", serif;
    font-style: italic;
    font-size: 125%;
}