body,
textarea {
	font-family: sans-serif !important;
}

html {
	scroll-behavior: smooth;
}

.translation {
	color: #aaaaaa;
	font-style: italic;
	font-weight: normal;
}

li.implicit {
	color: #aaaaaa;
	/* display: none; */
}

.error-marker {
	position: relative;
	top: 6pt;
	margin-right: -6px;
}

.error-sentence {
	text-align: center;
	font-style: italic;
}

#parse-result-boxes {
	padding-bottom: 200px;
}

/* Translations */
.alternative {
	color: #6699cc;
	display: none;
}

.box {
	width: max-content;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;

	margin: 3px;
	padding: 3px;
	/* border: 1px black solid; */

	margin-top: 0px;
	padding-top: 0px;
	border-top: 0px;

	--color-pink: #fc9bcb;
	--color-purple: #c895fc;
	--color-blue: #95caff;
}

.box.box-paragraph-unit {
	display: block;
	text-align: left;
	margin: 0px;
	padding: 0px;
	/* background: #ffffff;
	margin: 2px; */
}

.erased {
	opacity: 0.3;
}

.box.box-sentence {
	/* display: block;
	text-align: left; */
	background: #ffffff;
	border: 1px black solid;
	margin: 2px;
}

.box.box-paragraph {
	display: block;
	text-align: left;
	background: #ffffff;
	margin: 2px;
}

.box.box-arguments {
	background: var(--color-pink);
	/* border: 1px black solid; */
	border-top: 0px;
}

.box.box-note, .box.box-metadata {
	background: #eeeeee;
}

/* :not(.box-paragraph-unit) .box.box-note {
	display: block;
	border: 1px black solid;
	margin: 2px;
	padding: 0px;
} */

.box.box-sequential {
	background: white;
}

.box.box-chain-step {
	background: var(--color-purple);
}

.box.box-chain-step-neg {
	border: 1px red dashed;
	border-top: 0px;
}

.box.box-explicit-bind-group {
	background: var(--color-pink);
}

.box.box-chain-unit {
	background: var(--color-blue);
}

.box.box-chain-unit-adverb {
	background: var(--color-pink);
}

.box.box-set {
	background: var(--color-purple);
}

.box.box-compound {
	background: var(--color-purple);
}

.box.box-borrowing-unit {
	background: var(--color-purple);
}

.box.box-borrowing {
	background: var(--color-purple);
}

.box.box-number {
	background: var(--color-purple);
}

.box.box-namespaced {
	border: 1px black dashed;
	border-top: 0px;
}

.box.box-chain {
	background: #ffffff;
	border-top: 0px;
}

.box.box-list-item {
	border: 1px black dashed;
	border-top: 0px;
}

.box.box-terminal {
	margin: 0px;
	padding: 2px;
	border: 0px;
}

.box.box-not-shown {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.box .translation {
	color: black;
	font-style: italic;
	font-weight: normal;
}

.gloss-family {
	display: inline-block;
	font-weight: normal;
	color: #888888;
	width: 50px;
}

.tip {
	position: relative;
	display: inline;
	font-weight: bold;
}

.tip .tiptext {
	display: block;
	visibility: hidden;
	width: 300px;
	background-color: white;
	text-align: left;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	top: 100%;
	margin-left: 0px;
	opacity: 0;
	transition: opacity 0.1s;
	white-space: normal;
	font-weight: normal;
	border: 1px solid black;
	box-shadow: 0px 0px 2px black;
	font-family: "Courier New", Courier, monospace;
	z-index: 100;
	font-style: normal;
}

.tip:hover .tiptext {
	visibility: visible;
	opacity: 1;
}

.glosser-definition {
	font-family: "Courier New", Courier, monospace;
}


.foreign-quote-content {
	white-space: pre-wrap;
	font-family: "Courier New", Courier, monospace;
	text-align: left;
}

.foreign-quote-content .tip {
	white-space: pre-wrap;
	font-family: "Courier New", Courier, monospace;
	text-align: left;
	background-color: #ffffff60;
}

.place {
	padding: 1px 0px;
	margin-left: 2px;
	margin-right: 2px;
	font-family: "Courier New", Courier, monospace;
}

.place a {
	color: white;
}

.place .hidden {
	color: #00000000;
	text-shadow: none;
}


.dictionary-entry {
	margin-bottom: 10px;

	border: 1px solid gray;
	background-color: #f8f8f8;

	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dictionary-entry > summary {
	display: flex;
  	padding: 10px 15px;
	background-color: white;
	cursor: zoom-out;
}

.dictionary-entry:not([open]) > summary {
	cursor: zoom-in;
}

.dictionary-entry[open] > summary {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
	border-bottom: 1px solid gray;
}

.dictionary-entry > summary > .family {
	display: inline-block;
	background-color: #333;
	color: white;
	padding: 2px;

	margin-top: -2px;
	margin-right: 10px;
	font-weight: bold;
	border-radius: 5px;
	min-width: 30px;
	text-align: center;
	height: 20px
}

.dictionary-entry > summary > .word {
	font-weight: bold;
	font-size: larger;
	padding-right: 20px;
	min-width: 8em;
}

.dictionary-entry > summary > .gloss {
	font-style: italic;
}

.dictionary-entry > summary > .short > p {
	margin: 0px;
}
  

.dictionary-entry > .dictionary-details {
	margin: 10px;
}

#search-stats {
	margin-bottom: 10px;
	font-style: italic;
	font-size: 80%;
}

.cursive {
    font-family: freeserif, "times new roman", serif;
    font-style: italic;
    font-size: 125%;
}

.ebb-quote {
	background-color: #006eff30;
	border-radius: 10px;
	padding: 0px 5px;
	font-style: italic;
}

.see-also a {
	background-color: #006eff30;
	border-radius: 10px;
	padding: 0px 5px;
	font-style: italic;
}

.entry-spelling > summary {
	background-color: rgb(229, 248, 255);
}

[data-tooltip]:hover::after {
	display: block;
	position: absolute;
	content: attr(data-tooltip);
	border: 1px solid black;
	border-radius: 5px;
	background: #eee;
	padding: .5em;
}