name: Deploy GitHub Pages

on:
  push:
    branches: [master]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Cache mdbook binary
        id: cache-mdbook
        uses: actions/cache@v2
        with:
          path: ~/.cargo/bin/mdbook
          key: ${{runner.os}}-mdbook

      - name: Install Rust (if no cache)
        if: steps.cache-mdbook.outputs.cache-hit != 'true'
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install mdbook (if no cache)
        if: steps.cache-mdbook.outputs.cache-hit != 'true'
        run: cargo install --vers "^0.4.4" mdbook

      - name: Build book
        run: |
          ~/.cargo/bin/mdbook build books/reference_en

      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: "12.18.3"
        
      - name: Install NPM dependencies
        run: |
          cd node
          npm install
          cd ..

      - name: Build PEG grammar
        run: |
          cd node
          npm run build_peg
          cd ..

      - name: Build JS bundle
        run: |
          cd node
          npm run webpack
          cd ..

      - name: Commit changes to gh-pages
        run: |
          rm -f .gitignore
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git checkout -b tmp/gh-pages
          git add -A
          git commit -m "Update GitHub pages"
          git push origin tmp/gh-pages:gh-pages --force
